*{
    box-sizing: border-box;
}

$font-abril: 'Abril Fatface', cursive;
$font-lato: 'Lato', sans-serif;

$color-white: #FFFFFF;
$color-black: #000000;
$color-light-grey: #F6F6FB;
$color-grey: #46464682;
$color-dark-grey: #888888;
$color-green: #3EFFB5;

@mixin font-stack($family, $weight, $size, $color, $opacity: 1, $letterSpacing: normal) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    opacity: $opacity;
    letter-spacing: $letterSpacing;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.green-button {
    @include font-stack($family: $font-lato, $weight: 700, $size: 1rem, $color: black);
    background-color: $color-green;
    border-radius: 0.31em;
    padding: 1.125rem 2.5em;
    border: none;
    cursor: pointer;
    transition: all 0.8s, color 0.3s 0.3s;
}

.green-button:hover {
    box-shadow: 0 5rem 0 0 rgba(0,0,0,0.15) inset, 0 -5rem 0 0 rgba(0,0,0,0.155) inset;
}

body{
    width: 100%;
    margin: 0 ;
    position: relative;

    .rectangle-grey{
        background-color: $color-light-grey;
        position: absolute;
        top: 0;
        right: 0;
        width: 52vw;
        height: 58rem;
        z-index: -1;
        opacity: 0.5;
    }
}

header{
    padding: 4rem 11.34rem 99px 11.34rem;

    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 9.62em;
        height: 1.875em;
    }

    nav {
        width:430px;

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            li{
                list-style-type:none;

                a{
                    @include font-stack($family: $font-lato, $weight: 400, $size: 1rem, $color: black);
                    &.active, &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

main{
    #presentation {
        padding: 0 11.34rem;
        display: flex;
        justify-content: space-between;

        p{
            margin: 0;
        }

        .presentation-description{
            display: flex;
            flex-direction: column;
            margin-top: 45px;
            z-index: 1;

            .presentation-title{
                @include font-stack($family: $font-lato, $weight: 700, $size: 1.125em, $color: $color-dark-grey, $letterSpacing: 0.18em);
                margin-bottom: 30px;
            }
    
            .presentation-subtitle{
                @include font-stack($family: $font-abril, $weight: normal, $size: 3.375em, $color: $color-black);
                width: 668px;
                margin-bottom: 20px;
            }
    
            .presentation-text{
                @include font-stack($family: $font-lato, $weight: normal, $size: 1em, $color: $color-black, $opacity: 0.7);
                margin-bottom: 30px;
            }
        
            .presentation-actions{
                display: flex;
                align-items: center;
    
                .see-videos{
                    display: flex;
                    align-items: center;
                    margin-left: 2.5rem;
    
                    img {
                        width: 1.81rem;
                        height: 1.81rem;
                        margin-right: 0.625rem;
                        cursor: pointer;
                        transition: transform 0.3s ease-out;
                      }
                    
                      &:hover {
                        img {
                          transform: scale(1.4);
                        }
                      }
    
                    span{
                        @include font-stack($family: $font-lato, $weight: 900, $size: 1rem, $color: $color-black);
                    }
                }
            }  
        }

        .presentation-picture{
            position: relative;
            height: 526px;

            img{
                position: absolute;
                right: 0;
                top: 0;
                width: 754px;
                height: auto;
                box-shadow: -1.19rem 1.25rem 3.125rem rgba(0, 0, 0, 0.3);
            }
        }
    }

    #scroll-down{
        padding: 101px 11.34rem 0 11.34rem;
        display: flex;
        align-items: center;

        img{
            width: 2.5rem;
            height: 2.5rem;
        }
        .scroll-down-text{
            @include font-stack($family: $font-lato, $weight: 900, $size: 1rem, $color: $color-black);
        }
    }

    #about-us{
        padding: 169px 11.34rem 80px 11.34rem;
        display: flex;
        align-items: center;

        .about-us-picture{
            width:503px;
            height: 541px;
            background-image: url("/ressources/img/about-us.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 29px;
            margin-right: 87px;
        }

        .about-us-description{
            padding-left: 40px;
            padding-bottom: 18px;

            .about-us-title{
                @include font-stack($family: $font-lato, $weight: 700, $size: 1.125rem, $color: $color-dark-grey, $letterSpacing: 0.18rem);
                margin-bottom: 30px;
                margin-top: 0;
            }

            .about-us-subtitle{
                @include font-stack($family: $font-abril, $weight: normal, $size: 2rem, $color: $color-black);
                margin-bottom: 20px;
            }

            .about-us-text{
                @include font-stack($family: $font-lato, $weight: normal, $size: 1rem, $color: $color-black, $opacity: 0.7);
                margin-bottom: 30px;
            }
        }
    }

    #best-menu{
        padding: 100px 11.34rem 80px 11.34rem;
        background-color: $color-light-grey;

        .swiper{
            position: relative;
            margin-bottom: 40px;

            .best-menu-title{
                text-align: center;
                margin-top: 0;

            }
            .best-menu-subtitle{
                margin-top: 1.25rem;
                margin-bottom: 3.75rem;
                text-align: center;
            }
            .best-menu-title{
                @include font-stack($family: $font-lato, $weight: 900, $size: 1.125rem, $color: $color-dark-grey, $letterSpacing: 0.18rem);
            }
            .best-menu-subtitle{
                @include font-stack($family: $font-abril, $weight: normal, $size: 2rem, $color: $color-black);
            }
            .swiper-wrapper{
                .swiper-slide{
                    width: 398px;
                    cursor: pointer;

                    .swiper-image{
                        position: relative;
                        width: 100%;
                        height: 0;
                        padding-bottom: 56.25%;
            
                        img{
                            border-radius: 0.625rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .slide-informations{
                        background-color: $color-white;
                        border-radius: 0.625rem;
                        position: relative;
                        top: -0.625rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        padding-top: 2.5rem;
                        padding-bottom: 2.5rem;

                        p{
                            padding-left: 2.5rem;
                            padding-right: 2.5rem;
                        }

                        p.slide-title{
                            @include font-stack($family: $font-lato, $weight: 900, $size: 1.5rem, $color: $color-black);
                            margin-top: 0;
                            margin-bottom: 1.25rem;
                        }

                        p.slide-text{
                            @include font-stack($family: $font-lato, $weight: normal, $size: 1rem, $color: $color-black, $opacity: 0.7);
                            margin-top: 0;
                            margin-bottom: 1.875rem;
                        }

                        p.slide-link{
                            @include font-stack($family: $font-lato, $weight: 900, $size: 1rem, $color: $color-black);
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .swiper-buttons{
            display: flex;
            align-items: center;
            justify-content: end;

            .prev{
                position: static;
                height: 60px;                
                width: 60px;
                margin-right: 36px;
                cursor: pointer;
            }
            .next{
                position: static;
                transform: rotate(180deg);
                height: 60px;                
                width: 60px;
                cursor: pointer;
            }
        }
    }
}

footer {
    padding: 60px 11.34rem 75px 11.34rem;
    display: flex;
    justify-content: start;
    justify-content: space-between;

    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        width:293px;

        span{
            margin-top: 0;
            margin-bottom: 1.875rem;

            a{
                @include font-stack($family: $font-lato, $weight: 700, $size: 1.5rem, $color: black);
            }
        }

        ul{
            display: flex;
            flex-direction: column;
            
            li{
                @include font-stack($family: $font-lato, $weight: normal, $size: 1rem, $color: $color-black, $opacity: 0.7);
                margin-bottom: 1.25rem;

                a{
                    @include font-stack($family: $font-lato, $weight: 400, $size: 1rem, $color: black);
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


